# Dependencies
node_modules/

# Build output
out/
dist/

# VS Code
.vscode/*.log

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*

# Temporary files
*.tmp
*.temp

# Anything
OldVersions/
